In [1]:
import pandas as pd
import numpy as np
import re

In [17]:
ConvCore = pd.read_csv(r'ConvCore.csv', encoding='cp1252')
ConvCore.columns = ['Depth', 'k', 'phi', 'Well']
ConvCore['DepthFrom'] = ConvCore['Depth'].str.extract('([0-9.]+)')
#ConvCore['DepthTo'] = ConvCore['Depth'].str.extract('-([0-9.]+)')
#ConvCore['DepthTo'] = np.nan
#ConvCore.dtypes
#for i in ConvCore:
    #ConvCore['DepthTo'] = re.search(r'(\d+)-', ConvCore['Depth'][i-1])
    #(?<= - ).*    # matches everything after " - "
    #ConvCore['DepthFrom'] = ConvCore['Depth'].str.extract('(\d+)').astype(float)
    #DepthTo = ConvCore['Depth'].str.extract('(?P<digit1>[0123456789])').astype(float)
    #ConvCore['DepthTo'] = ConvCore['Depth'].str.split("-")
    #ConvCore['DepthFrom'] = re.match(r'(\d+)', ConvCore['Depth']).group()
#DepthTo
ConvCore
#with open('ConvCore.csv') as f:
#    print(f)

            Depth    k   phi  Well DepthFrom
0       5389–5391  166  17.4     1      5389
1     5397–5398.5   72  15.7     2      5397
2       5401–5403   28  14.0     3      5401
3       5391–5393  435  18.0     1      5391
4   5398.5–5399.5  100  15.6     2    5398.5
5       5403–5405   40  13.7     3      5403
6       5393–5395  147  16.7     1      5393
7     5399.5–5402   49  15.2     2    5399.5
8       5405–5407   20  12.2     3      5405
9       5395–5397  196  17.4     1      5395
10    5402–5404.5   90  15.4     2      5402
11      5407–5409   32  13.6     3      5407
12      5397–5399  254  19.2     1      5397
13    5404.5–5407   91  16.1     2    5404.5
14      5409–5411   35  14.2     3      5409
15      5399–5401  105  16.8     1      5399
16      5407–5409   44  14.1     2      5407
17      5411–5413   27  12.6     3      5411
18      5401–5403  158  16.8     1      5401
19      5409–5411   62  15.6     2      5409
20      5413–5415   27  12.3     3      5413
21      5403–5405  153  15.9     1      5403
22      5411–5413   49  14.9     2      5411
23      5415–5417    9  10.6     3      5415
24      5405–5406  128  17.6     1      5405
25      5413–5415   49  14.8     2      5413
26      5417–5419   30  14.1     3      5417
27      5406–5409  172  17.2     1      5406
28      5415–5417   83  15.2     2      5415